// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body 
{
background:palevioletred;
color: #FFC0CB;	
 padding-top: 100px; 
}
a, a:visited
{
	color:white;
}
h1
{
color:peachpuff;	
}

footer { margin-top: 100px; }
table, td, th { padding:10px; vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }

.variable
{
	color:wheat;
}

.btn .glyphicon
{
	color:red;
}